@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'arial', sans-serif;
    background-color: #00000010;
    color: #fff;
}

.container {
    padding-top: 1%;
    padding-left: 5%;
}

.top0fScreen {
    padding-top: 3%;
}

.calculator-screen input.display {
    padding: 2% 4%;
    font-size: 25px;
    color: #fff;
    background-color: #778899;
}

.buttons {
    padding: 2% 2%;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #778899;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.buttons:hover {
    background-color: #3e8e41;
}

.buttons:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

.buttons {
    margin: 1% 1% 1% 1%;
}
